.loginform {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginhelp {
    color: white;
    text-decoration: none;
}
.inputlogin {
    width: 275px;
    height: 45px;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
}
.btnlogin {
    width: 275px;
    height: 45px;
    color: white;
    background-color: #FFCF0D;
    text-shadow: 1px 1px 2px black;
    border-radius: 8px;
    margin-top: 50px;
    font-size: medium;
}
.managerJoin {
    color: white;
    text-decoration: none;
    padding: 6px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #FFCF0D;
}