.layout{
    width: 400px;
    height: 300px;
    /* background-color: white; */
    color: black;
    display: flex;
    justify-content: space-between;
    /* margin: 5px; */
    text-decoration: none;
}
.image{
    background-color: #D9D9D9;
    width: 250px;
    aspect-ratio: 3/4;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.explain{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    /* padding: 5px; */
}
.favorite{
    color: white;
    width: 50px;
    background-color: black;
    text-align: center;
}
.small{
    font-size: 12px;
}