.layout{
    width: 450px;
    height: 180px;
    /* background-color: white; */
    color: black;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 5px;
    text-decoration: none;
    gap: 10px;
    padding: 20px 0px;
}
.image{
    background-color: #000000;
    width: 140px;
    height: 180px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.image img{
    width: 140px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}
img{
    
    object-fit: fill;
}

.explain{
    width: 250px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    /* padding: 5px; */
}
.favorite{
    color: white;
    width: 80px;
    height: 80px;
    /* background-color: rgb(107, 104, 104); */
    text-align: center;
    display: flex;
    position: relative;
    right: 0px;
    font-size: 13px;
}
.small{
    font-size: 12px;
}
.view{
    filter: invert(80%);
}
.viewlayout{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.favoritelayout{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

