.layout{
    width: 400px;
    height: 180px;
    /* background-color: white; */
    color: black;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 5px;
    text-decoration: none;
    gap: 10px;
}
.image{
    background-color: #000000;
    width: 140px;
    height: 180px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
img{
    
    object-fit: fill;
}

.explain{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    /* padding: 5px; */
}
.favorite{
    color: white;
    width: 50px;
    /* background-color: rgb(107, 104, 104); */
    text-align: center;

}
.small{
    font-size: 12px;
}
.view{
    filter: invert(100%);
}
.viewlayout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.favoritelayout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

