.signupform {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.id {
    margin-left: 90px;
}
.idcheck {
    margin-left: 10px;
    background-color: gray;
    width: 80px;
    height: 45px;
    color: white;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
}
.inputsignup {
    width: 275px;
    height: 45px;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
}
.btnsignup {
    width: 275px;
    height: 45px;
    color: white;
    background-color: #FFCF0D;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
    margin-top:40px ;
}
.id-message {
  font-size: 15px;
  margin-top: 1px;
}

.id-message.success {
  color: #FFCF0D;
}

.id-message.error {
  color: red;
}

.error-text {
  color: red;
  margin-bottom: 8px;
  font-size: 13px;
}