.botlayout{
    display: flex;
    flex-wrap: wrap;
    /* height: 600px; */
}
.dropdelete{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    left: calc(50% - 40px);
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nofavorite{
    width: 900px;
    /* background-color: rgb(51, 51, 51); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.nflayout{
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    height: 50px;
    /* background-color:cadetblue; */
    padding: 20px 30px;
    display:flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.length{
    
    /* background-color:cadetblue; */
    width: 100px;
    display:flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    color: red;
}

.gosearch{
    background-color: red;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s all;
}

.gosearch:hover{
    background-color: rgb(211, 3, 3);
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    /* border-radius: 50px; */
    transition: 0.3s all ease-in-out;
}