.layout{
    /* background-color: blue; */
    
    height: 325px;
    position: relative;
    bottom: 0px;
    
}
.back{
    height: 380px;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.a{
    /* background-color: #d9d9d9; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide{
    /* background-color: #d9d9d9; */
    border-radius: 16px;
    height: 325px;
    width: 260px;
    color: black;

}
.slide img{
    object-fit: contain;
}

.explain{
    font-size: 27px;
    font-weight:600;
    height: 30px;
    
}

.categorylayout{
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category{
    background-color: #d9d9d9;
    color: black;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.category:hover{
    background-color: red;
    color: white;
    position: relative;
    bottom: 5px;
    padding-bottom: 5px;
}
.categoryactive{
    background-color: red;
    color: white;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    bottom: 5px;
    padding-bottom: 5px;
}

.datelayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: yellowgreen; */
}

.active{
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}
.date:hover{
    background-color: red;

}
.date{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}
.day{
    font-size: 12px;
}
.botlayout{
    display: flex;
    flex-wrap: wrap;
    
}

.more{
    width: 90%;
    border: white solid 3px;
    text-align: center;
    position: relative;
    left: 5%;
    margin-top: 10px;
    color: white;
    text-decoration: white;
    
}