.layout{
    /* background-color: blue; */
    
    height: 325px;
    position: relative;
    bottom: 0px;
    
}
.back{
    height: 380px;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.a{
    /* background-color: #d9d9d9; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide{
    /* background-color: #d9d9d9; */
    border-radius: 16px;
    height: 325px;
    width: 260px;
    color: black;

}
.slide img{
    object-fit: contain;
}

.explain{
    font-size: 27px;
    font-weight:600;
    height: 30px;
    
}

.categorylayout{
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category{
    background-color: #2c2c2c;
    color: #9f9f9f;
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
}
.category:hover{
    background-color: #2c2c2c;
    color: white;
    font-weight: 700;
    /* position: relative;
    bottom: 5px;
    padding-bottom: 5px; */
}
.categoryactive{
    background-color: red;
    color: white;
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* position: relative; */
    font-weight: 700;
    /* bottom: 5px; */
    /* padding-bottom: 5px; */
}

.datelayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding-top : 20px
    /* background-color: yellowgreen; */
}

.active{
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}
.date:hover{
    background-color: red;

}
.date{
    width: 60px;
    height: 60px;
    background-color: #2c2c2c;
    color: #d9d9d9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}
.day{
    font-size: 12px;
}
.botlayout{
    display: flex;
    flex-wrap: wrap;
    
}

.moreback{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more{
    width: 90%;
    height: 45px;
    border-radius: 5px;
    border: white solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
    margin-top: 10px;
    color: white;
    text-decoration: white;
    font-size: 15px;
    
}

.midmore{
    position: relative;
    font-size: 14px;
    bottom:25px;
    text-align: end;
    font-weight: normal;
}
.midmore:hover{
    font-weight: bold;
}