.layout{
    /* background-color: blue; */
    
    height: 300px;
    clip-path: polygon();
}

.slide{
    /* background-color: #d9d9d9; */
    border-radius: 16px;
    height: 100%;
    color: black;

}

.explain{
    font-size: 25px;
    height: 50px;
    
}

.categorylayout{
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category{
    background-color: #d9d9d9;
    color: black;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.datelayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: yellowgreen; */
}
.active{
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}

.date{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}
.day{
    font-size: 12px;
}
.botlayout{
    display: flex;
    flex-wrap: wrap;
    
}

.more{
    width: 90%;
    border: white solid 3px;
    text-align: center;
    position: relative;
    left: 5%;
    margin-top: 10px;
    color: white;
    text-decoration: white;
    
}