.back{
    display: flex;
    height: 100%;
    align-items: end;
    border-radius: 10px;
    justify-content: center;
    /* background-color: aliceblue; */
    
}

.layout{
    display: flex;
    /* flex-direction: column; */
    background-color: black;
    opacity: 80%;
    color: white;
    position: absolute;
    height: 30%;
    width: 100%;
    align-items: center; 
    
}
.explain{
    font-size: 12px;    
    position: relative;
    left: 5%;
    bottom: 0px;
    opacity: 100%;
}

.name{
    font-size: 20px;
}
.img{
    width: 100%;
    height: 100%;
    border: 10px;
    /* object-fit: cover; */
}
