.back{
    display: flex;
    height: 100%;
    align-items: end;
<<<<<<< HEAD
=======
    background-image: url('/public/images/plant.png');
    border-radius: 10px;
    background-size: cover;
>>>>>>> JWT/master
    
}

.layout{
    display: flex;
    /* flex-direction: column; */
    background-color: black;
    opacity: 50%;
    color: white;
    position: relative;
    height: 30%;
    width: 100%;
    align-items: center; 
    
}
<<<<<<< HEAD
=======

>>>>>>> JWT/master
.explain{
    font-size: 12px;    
    position: relative;
    left: 5%;
<<<<<<< HEAD
=======
    bottom: 0px;
    opacity: 100%;
>>>>>>> JWT/master
}

.name{
    font-size: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> JWT/master
