.back{
    display: flex;
    height: 100%;
    align-items: end;
    border-radius: 10px;
    justify-content: center;
    /* background-color: aliceblue; */
    
}

.layout{
    display: flex;
    /* flex-direction: column; */
    background: linear-gradient(to top,
  black 0%,
  black 30%,       /* 40%까지는 검정 */
  /* transparent 50%, */
   /* 40~60%는 부드럽게 변화 */
  transparent 100%
);
    opacity: 80%;
    color: white;
    position: absolute;
    height: 30%;
    width: 100%;
    align-items: center; 
    
}
.explain{
    font-size: 12px;    
    position: relative;
    left: 5%;
    bottom: 0px;
    opacity: 100%;
}

.name{
    font-size: 20px;
}
/* 부모 div */
.img {
  width: 100%;       /* 원하는 가로 */
  height: 100%;      /* 원하는 세로 */
  border-radius: 12px; /* 둥근 모서리 */
  overflow: hidden;    /* 자식이 삐져나오지 않게 */
  position: relative;  /* 필요시 */
}

/* 이미지 */
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 부모 div 꽉 채우면서 비율 유지 */
  object-position: center; /* 중앙 기준 크롭 */
  display: block;      /* inline 요소 여백 제거 */
}
