.layout{
    height: 600px;
    background-color: skyblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.rollinglayout{
    background-color: pink;
    width: 900px;
}
.slide{
    background-color: #d9d9d9;
    border-radius: 16px;
}
.swiper{
    background-color: green;
    height: 600px;
    z-index: 1000;
    width:100%
    
}