.loginform {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginhelp {
    color: white;
    text-decoration: none;
}
.inputlogin {
    width: 375px;
    height: 45px;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
}
.btnlogin {
    width: 375px;
    height: 45px;
    color: white;
    background-color: #f4002d;
    text-shadow: 1px 1px 2px black;
    border-radius: 8px;
    margin-top: 50px;
    font-size: medium;
}
.managerJoin {
    padding: 8px;
    margin-top: 50px;
    border-radius: 5px;
}
.bizText, .managerLink {
    text-decoration: none;
    font-size: 14px;
}
.bizText {
    color: #f4002d;
}
.signupText {
    color: white;
}