.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginhelp {
    color: white;
    text-decoration: none;
}
.inputlogin,
.btnlogin {
    width: 375px;
    height: 45px;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box; 
    padding: 0 12px;      
    border: none;
}
.inputlogin {
    background: white;
}
.btnlogin {
    background-color: #f4002d;
    color: white;
    margin-top: 50px;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    line-height: 45px; 
    padding: 0;         
}
.managerJoin {
    padding: 8px;
    margin-top: 50px;
    border-radius: 5px;
}
.bizText, .managerLink {
    text-decoration: none;
    font-size: 15px;
}
.bizText {
    color: #f4002d;
}
.signupText {
    color: white;
}
.admin-logo {
    display: flex;
    justify-content: center; 
}
.poppop-admin {
    color: #f4002d; 
    font-size: 30px;
    font-weight: 700;
    padding: 53px;
}