.layout{
    /* background-color: #2c2c2c; */
    height: 50px;
    width: 670px;
    position: fixed;
    left: calc(50% - 300px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1001;
    position: fixed;
    top: 12px;
    z-index: 3000;
    
}
.searchbar{
    width: 670px;
    height: 30px;
    font-size: 15px;
    border: #3d3d3d solid 2px;
    border-radius: 50px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    padding-left: 15px;  
    color: white;
    /* z-index: 1001; */
    
    

}
.popuplayout{
    
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}
.searchinputbg{
    width: 900px;
    background-color: rgb(0, 0, 0);
    height: 300px;
    position: fixed;
    top: 100px;
    border-bottom: red 5px solid;
    display: flex;
    justify-content: space-around;  
    z-index: 2000px;
      
}
.back{
    width: 900px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 30%;
    pointer-events: none;
}

.searchinputlayout{
    width: 900px;
    background-color: rgb(112, 107, 107);
    height: 80px;
    
    top: 100px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    
}
.searchbutton{
    width: 80px;
    height: 40px;
    /* z-index: 2001; */
    background-color: #000000;   
    border: #3d3d3d solid 3px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
}
/* .display{
    display:none;
} */

.searchbg{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 100%;
    display: none;
    pointer-events: none;
    z-index: 1000;
    backdrop-filter: blur(10px);
    /* display:none; */
}
.searchbox{
    /* background-color: #2c2c2c;    */
    position: fixed;
    top: 70px;
    width: 900px;
    height: 200px;
    z-index: 2000;
}

.searchlayout{
    background-color: black;
    position: fixed;
    top: 0px;
    left: calc(50% - 500px);
    width: 1000px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index:4000;
}
.select{
    background-color: #2c2c2c;
    color: #ffffff;
    width: 300px;
    height: 30px;
    font-size: 16px;
    /* position: relative; */
    
}
option:hover{
    background-color: #313131;
}

.nosearchresult{
    background-color: #3d3d3d;
    text-align: center;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}