<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.admin.model.dao.KpiMapper">
<resultMap id="dailyVisitorResultMap" type="com.ohgiraffers.poppop.admin.model.dto.DailyVisitorDTO">
    <result property="visitDate" column="visit_date"/>
    <result property="totalVisitors" column="total_visitors"/>
    <result property="memberVisitors" column="member_visitors"/>
    <result property="nonMemberVisitors" column="non_member_visitors"/>
</resultMap>
<!--    일별 방문자 수(전체,회원,비회원)-->
<select id="selectDailyVisitorStats" resultMap="dailyVisitorResultMap">
    select
           date(e.time_stamp) as visit_date,
           count(distinct e.session_id) as total_visitors
<!--           count(distinct case when is not null then e.session_id end) as member_visitors,-->
<!--           count(distinct case when is null then e.session_id end) as non_member_visitors-->
      from user_event_data e
<!--      left join session_info s on e.session_id = s.session_id-->
     where e.time_stamp >= date_sub(curdate(), interval 7 day)
     group by date(e.time_stamp)
     order by visit_date asc
</select>

<!--    전체 회원 수-->
    <select id="selectTotalMembers" resultType="long">
        select count(*) from member
    </select>

<!--    오늘 방문자 수-->
    <select id="selectTodayVisitors" resultType="long">
        select count(distinct session_id)
          from user_event_data
         where date(time_stamp) = curdate()
    </select>

<!--    누적 방문자 수-->
<select id="selectCumulativeVisitors" resultType="long">
    select count(distinct session_id) from user_event_data
</select>

<!--    신규 가입 수 (오늘 날짜를 기준으로 회원 가입 날짜가 2주 이내인 회원)-->
    <select id="selectNewMembers" resultType="long">
        select count(*)
          from user_event_data
         where event_type = '회원 가입'
           and date(time_stamp) >= date_sub(curdate(), interval 2 week)
    </select>

<!--    활동 회원 수 (오늘 날짜를 기준으로 행동 로그 데이터 날짜가 한 달 이내인 회원)-->
    <select id="selectActiveMembers" resultType="long">
        select count(distinct e.session_id)
          from user_event_data e
<!--          join user_event_data e on s.session_id = e.session_id-->
         where e.time_stamp >= date_sub(curdate(), interval 1 month)
    </select>

<!--    월별 사용자 행동 유형 비율-->
    <select id="selectEventTypeRatioByMonth" parameterType="string" resultType="map">
        select
               event_type as eventType,
               count(*) as eventCount
          from user_event_data
        <where>
            event_type in ('노출', '조회', '관심목록 추가', '후기 작성', '예약')
            <if test="month != null and month != ''">
                and date_format(time_stamp, '%Y-%m') = #{month}
            </if>
        </where>
         group by event_type
    </select>

<!--    검색 키워드 -->
    <resultMap id="searchKeywordResultMap" type="com.ohgiraffers.poppop.admin.model.dto.SearchKeywordDTO">
        <result property="keyword" column="keyword"/>
        <result property="searchCount" column="search_count"/>
    </resultMap>
<!--    월별 인기 검색 키워드 상위 10개 조회-->
    <select id="selectTop10SearchKeywordsByMonth" resultMap="searchKeywordResultMap" parameterType="String">
        select
               event_value as keyword,
               count(event_value) as search_count
          from user_event_data
         where event_type = '검색'
           and date_format(time_stamp, '%Y-%m')= #{yearMonth}
         group by event_value
         order by search_count desc
         limit 10
    </select>

</mapper>