<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.manager.model.dao.ManagerDashboardMapper">

    <!-- 오늘 예약 수 -->
    <select id="selectTodayReservationCount" resultType="int">
        SELECT COUNT(*)
        FROM reservation r
        JOIN popup_store p ON r.popup_no = p.popup_no
        WHERE p.id = #{managerId}
        AND p.popup_no = #{popupNo}
        AND DATE(r.reservation_date) = CURDATE()
    </select>

    <!-- 누적 예약 수 -->
    <select id="selectTotalReservationCount" resultType="int">
        SELECT COUNT(*)
        FROM reservation r
        JOIN popup_store p ON r.popup_no = p.popup_no
        WHERE p.id = #{managerId}
        AND p.popup_no = #{popupNo}
    </select>

    <!-- 누적 관심 수 -->
    <select id="selectTotalFavoriteCount" resultType="int">
        SELECT COUNT(*)
        FROM favorite f
        JOIN popup_store p ON f.popup_no = p.popup_no
        WHERE p.id = #{managerId}
        AND p.popup_no = #{popupNo}
    </select>

    <!-- 누적 리뷰 수 -->
    <select id="selectTotalReviewCount" resultType="int">
        SELECT COUNT(*)
        FROM review rv
        JOIN popup_store p ON rv.popup_no = p.popup_no
        WHERE p.id = #{managerId}
        AND p.popup_no = #{popupNo}
    </select>

    <!-- 1행 예약 -->
    <select id="selectReservationTrend"
            parameterType="int"
            resultType="com.ohgiraffers.poppop.manager.model.dto.ReservationTrendDTO">

        SELECT
        DATE_FORMAT(t.stat_date, '%Y-%m-%d') AS date,
        IFNULL(r.reservation_count, 0) AS reservationCount
        FROM (
        -- 최근 7일 날짜 생성
        SELECT CURDATE() - INTERVAL seq DAY AS stat_date
        FROM (
        SELECT 0 AS seq UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL
        SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6
        ) s
        ) t
        LEFT JOIN (
        SELECT
        reservation_date AS stat_date,
        COUNT(*) AS reservation_count
        FROM reservation
        WHERE popup_no = #{popupNo}
        AND reservation_date BETWEEN CURDATE() - INTERVAL 6 DAY AND CURDATE()
        GROUP BY reservation_date
        ) r ON t.stat_date = r.stat_date
        ORDER BY t.stat_date ASC;

    </select>

</mapper>


