<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.member.model.dao.MemberMapper">


    <resultMap id="memberResultMap" type="com.ohgiraffers.poppop.member.model.dto.MemberDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="role" column="role"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="businessNo" column="business_no"/>
        <result property="birthDate" column="birth_date"/>
    </resultMap>

    <insert id="insertMember" parameterType="com.ohgiraffers.poppop.member.model.dto.MemberDTO">
        insert into member
        (
        id,
        password,
        name,
        phone,
        email,
        role,
        business_no,
        gender,
        birth_date
        )
        values
        (
        #{id},
        #{password},
        #{name},
        #{phone},
        #{email},
        #{role},
        #{businessNo},
        #{gender},
        #{birthDate}
        )
    </insert>

    <select id="findById" parameterType="string" resultType="com.ohgiraffers.poppop.member.model.dto.MemberDTO">
        select
               id,
               password,
               role,
               name
          from member
         where id = #{id}
    </select>

    <select id="countById" parameterType="string" resultType="int">
        select count(*)
          from member
         where id = #{id}
    </select>

    <select id="selectMemberById" parameterType="string" resultType="com.ohgiraffers.poppop.member.model.dto.MemberDTO">
        select
               id,
               name,
               email,
               phone,
               password,
               birth_date AS birthDate
          from member
         where id = #{id}
           and status = '회원'
    </select>

    <update id="updateEmail">
        update member
           set email = #{email}
         where id = #{id}
    </update>

    <update id="updatePhone">
        update member
           set phone = #{phone}
         where id = #{id}
    </update>

    <update id="updatePassword">
        update member
           set password = #{password}
         where id = #{id}
    </update>

</mapper>