<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.popupstore.model.dao.PopupStoreMapper">
    <resultMap id="popupStoreResultMap" type="com.ohgiraffers.poppop.popupstore.model.dto.PopupStoreDTO">
        <id property="no" column="popup_no"/>
        <result property="name" column="popup_name"/>
        <result property="brandName" column="brand_name"/>
        <result property="startDate" column="popup_start_date"/>
        <result property="endDate" column="popup_end_date"/>
        <result property="openTime" column="open_time"/>
        <result property="closeTime" column="close_time"/>
        <result property="location" column="popup_location"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="reservableStatus" column="reservable_status"/>
        <result property="explanation" column="popup_explanation"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="rejectionReason" column="rejection_reason"/>
        <result property="id" column="id"/>
        <result property="managerId" column="id"/>
        <result property="clickCount" column="click_count"/>
        <result property="categoryName" column="category_name"/>
        <result property="advanceReservation" column="advance_reservation"/>
        <result property="homepageLink" column="homepage_link"/>
        <result property="capacity" column="capacity"/>
        <result property="hashtagName" column="hashtag_name"/>

    </resultMap>

    <!--카테고리 집계용 resultMap-->
    <resultMap id="popupCategoryResultMap" type="String">
        <id property="categoryName" column="category_name"/>
    </resultMap>



    <select id="selectAllPopupStore" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        where approval_status = "승인"
    </select>
    <select id="selectPopupStoreDetails" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        where popup_no=#{popupNo}
    </select>
    <!--오늘날짜 및 검색어 기준 팝업스토어 조회-->
    <select id="selectPopupStoreToday" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        <!--진행중-->
        <if test="status!=null and status=='open'">
              where popup_end_date &gt; #{startDate}
              and popup_start_date &lt; #{endDate}
            and approval_status= "승인"
        </if>
        <!--오픈예정-->
        <if test="status!=null and status=='scheduled'">
            where popup_start_date &gt; #{startDate}
            and approval_status= "승인"
        </if>
        <!--종료-->
        <if test="status!=null and status=='done'">
            where popup_end_date &lt; #{endDate}
            and approval_status= "승인"
        </if>
        <if test="status!=null and status=='all'">
            where approval_status= "승인"
        </if>
        and
        (popup_name like concat('%',#{searchWord},'%')
        or brand_name like concat('%',#{searchWord},'%')
        or popup_location like concat('%',#{searchWord},'%')
        or hashtag_name like concat('%',#{searchWord},'%')
        or category_name like concat('%',#{searchWord},'%')
        )


    </select>
    <!--검색조회-->
    <select id="selectPopupStoreByKeyword" resultMap="popupStoreResultMap">
        select

        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,

        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name
        from popup_store
        where popup_name like concat('%',#{searchWord},'%')
           or brand_name like concat('%',#{searchWord},'%')
           or popup_location like concat('%',#{searchWord},'%')
           or hashtag_name like concat('%',#{searchWord},'%')

    </select>

    <!-- 찜목록 조회 -->
    <select id="selectFavoritePopupStoreById" resultMap="popupStoreResultMap">
        select
        p.popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        p.id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

                from popup_store p
                join favorite f on p.popup_no = f.popup_no
                where f.id = #{id}

    </select>
    <!--랜덤 조회-->
    <select id="selectPopupStoreRandomly" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

            from popup_store
            where popup_no in
        <foreach item="popupNo" collection="random" open="(" separator="," close=")">
            #{popupNo}
        </foreach>
            order by field(popup_no,
        <foreach item="popupNo" collection="random" open="" separator="," close="">
            #{popupNo}
        </foreach>
        )
    </select>

    <!--날짜별 팝업 조회-->
    <select id="selectPopupByDate" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name
        from popup_store
        where popup_start_date &lt; #{date}
        and popup_end_date &gt; #{date}
    </select>


    <!-- 날짜별 팝업 랜덤 조회-->
    <select id="selectPopupStoreRandomlyByDate" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,

        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        where popup_no in
        <foreach item="popupNo" collection="random" open="(" separator="," close=")">
            #{popupNo}
        </foreach>
        and popup_start_date &lt; concat(#{year},"-",#{month},"-",#{date})
        and popup_end_date &gt; concat(#{year},"-",#{month},"-",#{date})
        order by field(popup_no,
        <foreach item="popupNo" collection="random" open="" separator="," close="">
            #{popupNo}
        </foreach>
        )
    </select>



    <!--가까운 팝업 조회-->
<!--    위도 경도값 넣어서 계산 db 수정 후 작업-->
<!--    <select id="selectPopupStoreNear" resultMap="popupStoreResultMap">-->
<!--        select-->
<!--               popup_no,-->
<!--               popup_name,-->
<!--               brand_name,-->
<!--               popup_start_date,-->
<!--               popup_end_date,-->
<!--               open_time,-->
<!--               close_time,-->
<!--               popup_location,-->
<!--               reservable_status,-->
<!--               popup_explanation,-->
<!--               approval_status,-->
<!--               rejection_reason,-->
<!--               category_name,-->
<!--               id,-->
<!--               hashtags,-->
<!--               click_count-->
<!--          from popup_store-->
<!--        having distance < 50*1000-->
<!--         order by distance;-->
<!--    </select>-->

    <!-- 카테고리 집계 -->
    <select id="selectAllCategory" resultMap="popupCategoryResultMap">
        select
               distinct category_name
               from popup_store
               order by field(category_name,'전체') desc
    </select>

    <!--카테고리별 팝업조회-->
    <select id="selectPopupStoreByCategory" resultMap="popupStoreResultMap">
        select

        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,
        latitude,
        longitude,
        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

            from popup_store
<!--            where popup_no in-->
<!--            <foreach item="popup" collection="popups" open="(" separator="," close=")">-->
<!--                #{popup}-->
<!--            </foreach>-->
            <if test="category=='전체'">

            </if>
            <if test="category!=null and category!='전체'">
                where category_name=#{category}
            </if>

    </select>

<!--    팝업 스토어 승인-->
    <update id="approvePopup" parameterType="int">
        update popup_store
           set approval_status = '승인'
         where popup_no = #{popupNo}
    </update>

<!--    팝업 스토어 반려-->
    <update id="rejectPopup" parameterType="map">
        update popup_store
        set approval_status = '반려',
        rejection_reason = #{rejectionReason}
        where popup_no = #{popupNo}
    </update>

    <!-- 매니저 팝업스토어 등록요청 -->

    <insert id="insertPopupStore"
            parameterType="com.ohgiraffers.poppop.popupstore.model.dto.PopupStoreDTO">
        INSERT INTO popup_store (
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,
        reservable_status,
        popup_explanation,
        approval_status,
        category_name,
        id,
        click_count,
        hashtag_name,
        latitude,
        longitude
        )
        VALUES (
        #{name},
        #{brandName},
        #{startDate},
        #{endDate},
        #{openTime},
        #{closeTime},
        #{location},
        #{reservableStatus},
        #{explanation},
        '대기',         -- 매니저는 일단 '대기'
        #{categoryName},
        #{id},
        0,
        #{hashtagName},
        #{latitude},
        #{longitude}
        )
    </insert>

    <!-- 매니저 팝업스토어 목록 조회 -->
    <select id="selectMyPopupList"
            parameterType="string" resultMap="popupStoreResultMap">

        SELECT
        ps.popup_no,
        ps.popup_name,
        ps.brand_name,
        ps.popup_start_date,
        ps.popup_end_date,
        ps.open_time,
        ps.close_time,
        ps.popup_location,
        ps.latitude,
        ps.longitude,
        ps.reservable_status,
        ps.popup_explanation,
        ps.approval_status,
        ps.rejection_reason,
        ps.id,
        ps.click_count,
        ps.category_name,
        ps.advance_reservation,
        ps.homepage_link,
        ps.capacity,
        ps.hashtag_name

        FROM popup_store ps
        WHERE ps.id = #{managerId}
        ORDER BY ps.popup_no DESC;
    </select>
    <select id="selectMyPopupDetail"
            parameterType="map" resultMap="popupStoreResultMap">

        SELECT
        p.popup_no,
        p.popup_name,
        p.brand_name,
        p.popup_start_date,
        p.popup_end_date,
        p.open_time,
        p.close_time,
        p.popup_location,
        p.latitude,
        p.longitude,
        p.reservable_status,
        p.popup_explanation,
        p.approval_status,
        p.rejection_reason,
        p.id,
        p.click_count,
        p.category_name,
        p.advance_reservation,
        p.homepage_link,
        p.capacity,
        p.hashtag_name
        FROM popup_store p
        WHERE p.popup_no = #{popupNo}
        AND p.id = #{managerId}
    </select>

    <!-- 매니저 팝업스토어 수정 -->
    <update id="updateMyPopup"
            parameterType="com.ohgiraffers.poppop.popupstore.model.dto.PopupStoreDTO">

        UPDATE popup_store
        <set>
            <if test="name != null"> popup_name = #{name}, </if>
            <if test="brandName != null"> brand_name = #{brandName}, </if>
            <if test="startDate != null"> popup_start_date = #{startDate}, </if>
            <if test="endDate != null"> popup_end_date = #{endDate}, </if>
            <if test="openTime != null"> open_time = #{openTime}, </if>
            <if test="closeTime != null"> close_time = #{closeTime}, </if>
            <if test="location != null"> popup_location = #{location}, </if>
            <if test="explanation != null"> popup_explanation = #{explanation}, </if>
            <if test="categoryName != null"> category_name = #{categoryName}, </if>
            <if test="homepageLink != null"> homepage_link = #{homepageLink}, </if>
            <if test="capacity != 0"> capacity = #{capacity}, </if>
            <if test="hashtagName != null"> hashtag_name = #{hashtagName}, </if>
            <if test="latitude != 0"> latitude = #{latitude}, </if>
            <if test="longitude != 0"> longitude = #{longitude}, </if>
        </set>
        WHERE popup_no = #{no}
        AND id = #{id} <!--매니저 본인 팝업만 수정 가능-->
    </update>

    <select id="selectAllPopupStoreAdmin" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        order by approval_status
    </select>

    <!--오픈팝업전체조회-->
    <select id="selectAllOpenPopup" resultType="_int">
        select
        popup_no
        from popup_store
        where popup_start_date &lt; now()
        and popup_end_date &gt; now()
    </select>

    <select id="selectOpenPopupRandomly" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        where popup_no in
        <foreach item="popupNo" collection="popupNo2" open="(" separator="," close=")">
            #{popupNo}
        </foreach>
        order by field ( popup_no
        <foreach item="popupNo" collection="popupNo2" open="," separator="," close=")">
            #{popupNo}
        </foreach>
    </select>

    <select id="selectAllScheduledPopup" resultType="_int">
        select
               popup_no
               from popup_store
               where popup_start_date &gt; now()
    </select>

    <select id="selectScheduledPopupRandomly" resultMap="popupStoreResultMap">
        select
        popup_no,
        popup_name,
        brand_name,
        popup_start_date,
        popup_end_date,
        open_time,
        close_time,
        popup_location,

        latitude,
        longitude,

        reservable_status,
        popup_explanation,
        approval_status,
        rejection_reason,
        id,
        click_count,
        category_name,
        advance_reservation,
        homepage_link,
        capacity,
        hashtag_name

        from popup_store
        where popup_no in
        <foreach item="popupNo" collection="popupNo2" open="(" separator="," close=")">
            #{popupNo}
        </foreach>
        order by field ( popup_no
        <foreach item="popupNo" collection="popupNo2" open="," separator="," close=")">
            #{popupNo}
        </foreach>
    </select>
</mapper>