<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.review.model.dao.ReviewMapper">
    <resultMap id="reviewResultMap" type="com.ohgiraffers.poppop.review.model.dto.ReviewDTO">
        <id property="reviewNo" column="review_no"/>
        <result property="content" column="review_content"/>
        <result property="popupNo" column="popup_no"/>
        <result property="memberId" column="id"/>
        <result property="popupName" column="popup_name"/>
    </resultMap>

    <select id="selectReviewByPopupStore" resultMap="reviewResultMap">
        select
               review_content,
               id
          from review
         where popup_no = #{popupNo}
    </select>

    <select id="selectAllReviews" resultMap="reviewResultMap">
        select
               r.review_no,
               r.review_content,
               r.popup_no,
               r.id,
               p.popup_name
          from review r
          join popup_store p on r.popup_no = p.popup_no
    </select>
</mapper>