<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.poppop.review.model.dao.ReviewMapper">
    <resultMap id="reviewResultMap" type="com.ohgiraffers.poppop.review.model.dto.ReviewDTO">
        <id property="reviewNo" column="review_no"/>
        <result property="content" column="review_content"/>
        <result property="popupNo" column="popup_no"/>
        <result property="memberId" column="id"/>
        <result property="reviewDate" column="review_date"/>
        <result property="popupName" column="popup_name"/>

    </resultMap>

    <select id="selectReviewByPopupStore" resultMap="reviewResultMap">
        select
               review_content,
               id,
               review_date
          from review
         where popup_no = #{popupNo}
         order by review_no desc
    </select>

    <select id="selectAllReviews" resultMap="reviewResultMap">
        select
               r.review_no,
               r.review_content,
               r.popup_no,
               r.id,
               p.popup_name
          from review r
          join popup_store p on r.popup_no = p.popup_no
    </select>
    <!--리뷰등록-->
    <insert id="insertReview">
        insert into review
        (
        review_content,
        popup_no,
        id,
        review_date
        )
        value
        (
        #{content},
        #{popupNo},
        #{id},
        now()
        )
    </insert>

    <select id="selectReviewById" parameterType="string" resultMap="reviewResultMap">
        select
               r.review_no,
               r.review_content,
               r.popup_no,
               r.id,
               p.popup_name,
               r.review_date
          from review r
          join popup_store p on r.popup_no = p.popup_no
         where r.id = #{memberId}
         order by r.review_date desc
    </select>

    <delete id="deleteReviewById">
        delete from review
         where review_no = #{reviewNo}
           and id= #{memberId}
    </delete>

    <select id="selectReviewByNo" resultMap="reviewResultMap">
        select
               review_no,
               id,
               popup_no,
               review_content,
               review_date
          from review
         where review_no = #{reviewNo}
    </select>

    <update id="updateReviewById">
        update review
           set
               review_content = #{content},
               review_date = NOW()
         where review_no = #{reviewNo}
           and id = #{memberId}
    </update>
</mapper>