.tab-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-bottom: 1px solid #333;
}

.tabs {
  width: 900px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  flex: 1;
}

.tab-link {
  display: block;         
  text-align: center;
  padding: 16px 12px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.tab-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;               
  width: 100%;              
  height: 2px;
  background-color: transparent;
}

.tab-link.active {
  color: #f4002d;
}

.tab-link.active::after {
  background-color: #f4002d;
}
