.myresv {
  display: flex;
  justify-content: center;
}
.resvForm {
  overflow: hidden;
}
.filter {
  display: flex;
  justify-content: flex-end;
}
.filter select {
  margin-bottom: 10px;
  padding: 6px 12px;
  /* border-radius: 4px; */
  background-color: #2c2c2c;
  cursor: pointer;
  font-size: 14px;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
thead {
  background-color: #141414;
}
table th {
  font-weight: 500;
  font-size: 15px;
  padding: 12px 8px;
}
table td {
  padding: 12px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #514f4f;
  font-size: 13px;
  overflow: hidden;
}
.popup-info {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.popup-info .poster {
  flex: 0 0 auto;
  width: 90px;
  height: 135px;
  margin: 0;
}
.popup-info .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.popup-info .details {
  min-width: 0;
}
.popup-info .details .title {
  font-size: 14px;    
  margin-bottom: 4px;
}
.popup-info .details p {
  margin: 0;
  font-size: 13px;
}

.info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  font-size: 13px;    
}
.label {
  display: inline-block;
  width: 80px;     
}
.value {
  flex: 1;
  text-align: left;
}
.cancelBtn {
  margin-left: 8px;
  padding: 4px 10px;
  font-size: 12px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.empty-message {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}