.myreviewform {
    display: block;
}
/* .reviewsearch {
    border: 1px solid white;
    border-radius: 50px;
    width: 300px;
    height: 36px;
    margin-left: 400px;
}
.myreviewsearch {
    background: none;
    border: none;
    padding: 0px;
    margin-left: 10px;
    outline: none;
    text-align: center;
}
.myreviewsearch::placeholder {
    color: white;
} */
.empty-message {
  margin-top: 12px;
  padding: 30px 0;
  text-align: center;
  color: #ccc;
}
.userreview {
    width: 840px;
    height: 120px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #212121;
    padding: 30px;
    font-size: 14px;
}
.myreviewpopup {
    font-size: 15px;
    font-weight: 700;
}
.myreviewdate {
    margin-left: 720px;
    margin-top: -8px;
    /* margin-bottom: 3px; */
    color: #d9d9d9;
    font-size: 14px;
}
.myreviewbutton {
    margin-top: 10px;
    margin-left: 800px;
}
.myreviewbutton button {
    all: unset;
    color: white;
    margin-right: 10px;
    font-size: 14px;
}
.myreviewcontent-edit {
    background-color: gray;
    border: none;
    resize: none;
    border-radius: 6px;
    outline: none;
    width: 100%;
    font: inherit;
    overflow: hidden;
    line-height: 1.4;
    height: 69px;
    color: white;
    font-size: 14px;
}