.admin-main-layout{
    position: fixed;
    top: 0;
    left: 300px;
    background-color: #f4f6fa;
    color: black;
    height: 100vh;
    width: calc(100% - 300px);
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.admin-main-text{
    font-family: 'pretendard', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-left: 20px;
}

.adminSearchBar{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.adminSearchBar-box{
    width: 100%;
    height: 30px;
    margin-left: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.adminKPI-layout{
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    gap: 180px;
}

.kpi-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.kpi-title {
    font-size: 16px;
    color: #888;
    margin: 0;
}

.kpi-value {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0 0;
    display: flex;
    align-items: baseline;
}

.kpi-unit {
    font-size: 16px;
    font-weight: normal;
    margin-left: 5px;
}

.admin-chart-layout{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #f4f6fa;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.admin-chart-box{
    width: 50%;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.admin-chart-btn{
    background: linear-gradient(to right, #eba9cf, #f4002d);
    border: none;
    border-radius: 5px;
    color: white;
    width: 45px;
}

.line-chart-header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.admin-LineChart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    flex-grow: 1;
}

.admin-PieChart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    flex-grow: 1;
}

.admin-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.admin-chart-layout2{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.side-icon{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}