.admin-sidebar-layout{
    width: 300px;
    background-color: #F4f6fa;
    height:100vh;
    overflow-y:auto;
    overflow-x:auto;
}

.admin-side-logo1{
    color: black;
    width: 230px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: 'pretendard', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.admin-side-logo2{
    color: black;
    width: 230px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: 'pretendard', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding-top: 150px;
}
.admin-sidebutton-layout{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 0px;
    padding-right: 50px;
}

.admin-side-button{
    /* background-color: blue; */
    color: #929498;
    font-family: 'pretendard', sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.admin-side-button:hover {
    background: linear-gradient(to right, #eba9cf, #f4002d);
    color: #ffffff
}

.admin-side-button.active {
    background: linear-gradient(to right, #eba9cf, #f4002d);
    color: #ffffff
}

.admin-side-button.active .arrow-icon {
    transform: rotate(90deg);
}

.side-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 40px;
    transition: transform 0.2s ease-in-out;
}

.admin-submenu-layout {
    padding-left: 25px;
    background-color: #f4f6fa;
}

.admin-submenu-item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #929498;
}

