.user-main-layout{
<<<<<<< HEAD
    background-color: #000000;
=======
    background-color: #141414;
>>>>>>> JWT/master
    color: white;
    width: 100%;
    height: 900px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
}

.user-main{
    background-color: black;
    color: white;
    width: 900px;
    /* height: 4000px; */
}
.blank{
    height: 100px;
}
.footer{
    background-color: brown;
    width: 900px;
    height: 300px;
    position: relative;
    bottom: 0px
}