.reviews{
    background-color: #474444;
    border-radius: 16px;
    padding: 5px;
    height: 100px;
    
    
}
.reviewsdetail{
    background-color: #302e2e;
    position: relative;
    left: 5px;
    top: 5px;
    width:calc(100% - 20px);
    border-radius: 8px;
    padding: 5px;
}