.layout{
    /* background-color: #d9d9d9; */
    /* color: black; */
    width: 90%;
    height: 500px;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentbox{
    background-color: rgb(61, 60, 60);
    resize: none;
    width: 80%;
    height: 80%;
    font-size: 15px;
    font-family: inter
    
}