.myresv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.resvForm {
    margin-top: 40px;
    width: 800px;
    min-height: 542px;
    /* border: 1px solid white; */
    overflow: hidden;
}
.filter {
    display: flex;
    justify-content: flex-end;
}
.filter select {
    margin-bottom: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    background-color: #fff;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
thead {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table th {
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
}
table td {
    padding: 16px 12px;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    overflow: hidden;
}
.popup-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.popup-info .poster {
  flex: 0 0 auto;
  width: 100px;
  height: 150px;
  /* overflow: hidden; */
  /* border-radius: 6px; */
  margin: 0;
}
.popup-info .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.popup-info .details {
    min-width: 0;
}
.popup-info .details .title {
    font-size: 15px;
    margin-bottom: 2px;
}
.popup-info .details p {
    margin: 0;
    font-size: 15px;
}
/* .reserve-info p {
    margin: 4px 0;
    line-height: 1.4;
} */
.info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px;
}
.label {
    display: inline-block;
    width: 100px;
    font-weight: 600;
}
.value {
    flex: 1;
    text-align: left;
}
.cancelBtn {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    background: white;
    border: none;
    border-radius: 4px;
    /* color: white; */
    cursor: pointer;
}