.myreviewform {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reviewsearch {
    border: 1px solid white;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    margin-left: 400px;
}
.myreviewsearch {
    background: none;
    border: none;
    padding: 12px;
    margin-left: 10px;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
/* .myreviews {
    min-height: 500px;
} */
.userreview {
    width: 600px;
    height: 100px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #212121;
    padding: 10px;
}
.myreviewpopup {
    font-size: 20px;
    font-weight: 700;
}
.myreviewdate {
    margin-left: 510px;
    color: #d9d9d9;
}
/* .myreviewcontent {} */
.myreviewbutton {
    margin-top: 10px;
    margin-left: 540px;
}
.myreviewbutton button {
    all: unset;
    color: white;
    margin-right: 10px;
}