.auth-page {
  min-height: calc(100vh - 65px); 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; 
  color: #f5f5f5;
  padding: 40px 16px;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  /* background: #151515; */
  border-radius: 14px;
  padding: 28px 26px 26px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  /* border: 1px solid #2a2a2a; */
}

.auth-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.auth-subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #aaaaaa;
  line-height: 1.4;
}

.accent-text {
  color: #d9d9d9;
}

.auth-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.auth-field label {
  font-size: 12px;
  color: #888;
  margin-bottom: 6px;
}

.auth-input {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #111;
  color: #f5f5f5;
  outline: none;
}

.auth-input::placeholder {
  color: #666;
}

.auth-input:focus {
  border-color: #f4002d;
}

.auth-error {
  margin-top: -4px;
  margin-bottom: 12px;
  font-size: 12px;
  color: greenyellow;
}

.auth-btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 4px;
}

.auth-btn.primary {
  background: #f4002d;
  color: #000;
  font-weight: 600;
}

.auth-btn.primary:hover {
  background: #f4002d;
}

.auth-result-box {
  margin-top: 18px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #1f1f1f;
  border: 1px solid #333;
}

.auth-result-value {
  font-size: 16px;
  font-weight: 600;
}

.auth-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 4px;
}

.step-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #777;
}

.step-item.active {
  color: #f4002d;
}

.step-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #555;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.step-item.active .step-circle {
  border-color: #f4002d;
  background-color: #f4002d;
  color: #000;
}

.step-text {
  white-space: nowrap;
}

.step-divider {
  width: 36px;
  height: 1px;
  background-color: #444;
  margin: 0 8px;
}
.bottom-links {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottom-links .link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 14px;
}