.buttonbar{
    width: 200px;
    height: 55px;
    padding: 4px;
    background-color: #2c2c2c;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight:lighter;
    color: white;
}

.buttonbar .ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  animation: ripple 0.6s linear;
}

.buttonbar-layout{
    width: 100%;
    height: 65px;
    padding: 4px 4px 6px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0;
    z-index: 2000;
}
.img{
    filter: invert();
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}