.back{
    background-color: rgb(29, 29, 29);
    height: 250px;
    color: white;
}

.menus{
    /* background-color: seagreen; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
    left: 2%;
    gap: 10px;
}

.menu{
    /* width: 15%; */
    font-size: 10px;
    /* background-color: aliceblue; */
}
.info{
    font-size: 10px;
    position: relative;
    top: 15%;
    left: 2%;
    color: rgb(160, 160, 160);
}
.others{
    /* background-color: antiquewhite; */
    width: 50%;
    position: relative;
    left: 50%;
    bottom: 10%;
    display: flex;
    font-size: 12px;
}
.other{
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 23%;
    
}
.icon{
    filter: invert(50%)
}