.user-main-layout{
    background-color: #000000;
    color: white;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
}

.main{
    background-color: black;
    color: white;
    width: 900px;
    padding-bottom: 100px; 
}
.blank{
    height: 80px;
}
.footer{
    background-color: brown;
    width: 100%;
    max-width: 900px;
    margin: 40px auto 0; 
    padding: 24px 0;
    position: static;
}


.logout {
    all: unset;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 780px;
}

.mypage-content {
  flex: 1;              
  display: flex;
  flex-direction: column;
}

.mypage-content .infoForm,
.mypage-content .myreviewform,
.mypage-content .resvForm {
  width: 100%;
  max-width: 900px;
  margin: 40px auto 80px; 
  min-height: 700px; 
}
