.user-main-layout{
<<<<<<< HEAD
    background-color: #e2dada;
    color: white;
    width: 100%;
    /* height: 900px; */
=======
    background-color: #141414;
    color: white;
    width: 100%;
    height: 900px;
>>>>>>> JWT/master
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.main{
    background-color: black;
    color: white;
    width: 900px;
    height: 1000px;
=======
.user-main{
    background-color: black;
    color: white;
    width: 900px;
    height: 4000px;
>>>>>>> JWT/master
}
.blank{
    height: 100px;
}
.footer{
    background-color: brown;
    width: 900px;
    height: 300px;
    position: relative;
    bottom: 0px;
    z-index: 10px
}
<<<<<<< HEAD


.logout {
    all: unset;
    color: white;
    width: 70px;
    height: 30px;
    /* border: 2px solid #FFCF0D; */
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 780px;
}
=======
>>>>>>> JWT/master
