.layout{
    /* background-color: #d9d9d9; */
    /* color: black; */
    width: 90%;
    height: 500px;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentbox{
    background-color: #2c2c2c;
    color: white;
    resize: none;
    width: 840px;
    height: 80%;
    font-size: 15px;
    font-family: inter;
    border: none;
    padding: 20px 30px;
    
}
.registback{
    width: 900px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    
}
.registbtn{
    height: 30px;
    width: 870px;
    background-color: red;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 8px;   
    transition: 0.3s;
}

.registbtn:hover{
    font-weight: 500;
    height: 30px;
    width: 870px;
    background-color: rgba(175, 6, 6, 0.952);
    font-size: 16px;
    display: flex;
    align-items: center;
    /* border-bottom: rgb(136, 136, 136) solid 0.5px; */
    /* opacity: 50%; */
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
    
}