body{
    overflow: hidden;
}
.signup-page {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-steps {
  display: flex;
  gap: 100px;              
  margin-bottom: 70px;
}
.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 4px;
}
.step-label {
  font-size: 20px;
}
.step-item.active .step-circle {
  background-color: #ffcd0f;
  color: #fff;
}
.step-item.active .step-label {
  font-weight: 700;
}