.durationbox{
    height: 120px;
    padding: 20px 0px;
}

.durationtime{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.duration{
    font-size: 14px;
    margin-bottom: 15px;
}

hr{
    filter: invert(100%);
}

.intro{
    font-size: 16px;
    height: 19px;
    margin-bottom: 15px;
}
.introbox{
    height: 330px;
    background-color: #2c2c2c;
    padding: 20px 30px;
    font-size: 14px;
}

.lowerbutton{
    height: 40px;
    font-size: 24px;
    border-bottom: rgb(136, 136, 136) solid 0.5px;
    opacity: 50%;
    margin: 1px;
}

.lowerbuttonlayout{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    
}
.locationcopy{
    background-color: #555555;

    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.copybutton{
    font-size: 12px;
    background-color: #555555;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
}