.durationbox{
    height: 120px;
    padding: 20px 0px;
}

.durationtime{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.duration{
    font-size: 14px;
    margin-bottom: 15px;
}

hr{
    filter: invert(100%);
}

.intro{
    font-size: 16px;
    height: 19px;
    margin-bottom: 15px;
}
.introbox{
    height: 330px;
    background-color: #2c2c2c;
    padding: 20px 30px;
    font-size: 14px;
}

.lowerbutton{
    height: 30px;
    width: 800px;
    background-color: red;
    font-size: 18px;
    display: flex;
    align-items: center;
    /* border-bottom: rgb(136, 136, 136) solid 0.5px; */
    /* opacity: 50%; */
    padding: 8px 15px;
    border-radius: 8px;

    
}

.lowerbutton:hover{
    font-weight: 500;
    height: 30px;
    width: 800px;
    background-color: rgba(175, 6, 6, 0.952);
    font-size: 18px;
    display: flex;
    align-items: center;
    /* border-bottom: rgb(136, 136, 136) solid 0.5px; */
    /* opacity: 50%; */
    padding: 8px 15px;
    border-radius: 8px;

    
}


.lowerbuttonlayout{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    
}
.locationcopy{
    background-color: #2c2c2c;

    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.copybutton{
    font-size: 12px;
    background-color: #2c2c2c;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
}

.copybutton:hover{
    cursor: pointer;
    font-size: 12px;
    background-color: #ffffff;
    color: black;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    transition: 0.3s all ease
}