.reviews{
    background-color: #474444;
    border-radius: 16px;
    padding: 5px;
    height: 300px;
    
    
}
.reviewsdetail{
    background-color: #302e2e;
    position: relative;
    left: 5px;
    top: 5px;
    width:calc(100% - 20px);
    border-radius: 8px;
    padding: 5px;
}
.reviewbtnlayout{
    display:flex;
    /* background-color: white; */
    width: 100%;
    justify-content: center;
    gap: 750px;
    
}
.noreviewyet{
    background-color: #302e2e;
    height: 300px;
}

