.reviews{
    background-color: #242424;
    border-radius: 16px;
    padding: 5px;
    height: 200px;
    
    
}
.reviewsdetail{
    background-color: #2c2c2c;
    position: relative;
    height: 65%;
    left: 5px;
    top: 5px;
    width:calc(100% - 20px);
    border-radius: 8px;
    padding: 5px;
}
.reviewbtnlayout{
    display:flex;
    /* background-color: white; */
    width: 100%;
    justify-content: center;
    gap: 750px;
    
}
.noreviewyet{
    background-color: #2c2c2c;
    height: 200px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 20px 0px;
    
}


