.postercontainer {
    display: flex;
    /* justify-content: center; 가로 중앙 정렬 */
    /* border: 1px solid red; */
}

.poster {
    margin: 100px auto 0;
    width: 600px;
    height: 400px;
}
.imgcontainer {
    width: auto;
    height: 100%;
    margin-left: 167px;
}
img {
    width: auto;
    height: 100%;
}
.title {
    margin: 50px 0 0 50px;
    font-size: 36px;
}
.resvdetails {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
