.swiper-pagination {
  
  bottom: 10px;
}

/* 일반 버튼 */
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgb(155, 155, 155);
  opacity: 0.5;
  margin: 0 4px;
  border-radius: 50px;
  transition: all 0.3s;
}

/* 활성 버튼 */
.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  /* transform: scale(1); */
  width: 20px;
}