.layout{
    padding-top: 60px;
    height: 600px;
    /* background-color: skyblue; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.rollinglayout{
    background-color: pink;
    width: 900px;
}
.slide{
    /* background-color: #d9d9d9; */
    border-radius: 16px;
    width: 460px;
    height: 610px;
}
.swiper{
    /* background-color: green; */
    height: 610px;
    z-index: 1000;
    width:100%
    
}
.gradation{
    width: 100%;
    height: 100px;
    position:relative;
    bottom: 100px;
    
    background-color: pink;
    background: linear-gradient(rgba(0,0,0,0),black);
    opacity: 50%;
    z-index: 1001;
    pointer-events: none;
    
    
}


