.poster{
    height: 600px;
<<<<<<< HEAD
    background-color: #d9d9d9;
=======
    /* background-color: #d9d9d9; */
    display: flex;
    flex-direction: row;
    justify-content: center;

>>>>>>> JWT/master
}
.imagebuttonlayout{
    height: 60px;
    width: 100%;
    display: flex;
}
.imagebuttons{
    width: 50%;
    background-color:black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    

}
.popupname{
    font-size: 40px;
    font-weight: 700;
}
.popuplocation,.popupduration{
    font-size: 20px;
}
.reviewbtns{
        display:flex;
    /* background-color: white; */
    width: 100%;
    justify-content: center;
    gap: 750px;
}
