.poster{
    height: 600px;
    /* background-color: #d9d9d9; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.imagebuttonlayout{
    height: 60px;
    width: 100%;
    display: flex;

}
.imagebuttonsactive{
    width: 50%;
    background-color:black;
    /* border: 1px solid white; */
    border-bottom: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.imagebuttons{
    width: 50%;
    background-color:black;
    /* border: 1px solid white; */
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.popupname{
    font-size: 32px;
    font-weight: 700;
}
.popuplocation,.popupduration{
    font-size: 14px;
    padding-bottom: 4px;
}
.reviewbtns{
        display:flex;
    /* background-color: white; */
    width: 100%;
    height: 42px;
    /* justify-content: center; */
    gap: 750px;
}
.reviewtitle{
    font-size: 16px;
}

.reviewbtn{
    height: 30px;
    width: 800px;
    background-color: red;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 8px;   
}

.reviewbtn:hover{
    font-weight: 500;
    height: 30px;
    width: 800px;
    background-color: rgba(175, 6, 6, 0.952);
    font-size: 16px;
    display: flex;
    align-items: center;
    /* border-bottom: rgb(136, 136, 136) solid 0.5px; */
    /* opacity: 50%; */
    padding: 8px 15px;
    border-radius: 8px;

    
}

.reviewbtnlayout{
    width: 900px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    
}
